#welcomecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://t3.ftcdn.net/jpg/01/68/88/70/360_F_168887015_XPHzRXA8pwSFyhzV1Umc51jQZCAMy5OM.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  #welcomecontent  {
    font-size: 5em;
    position: relative;
    color: black;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease; 
  }
  
  #welcomecontent :hover {
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8); 
  }
  .studentlist{
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    #welcomecontent {
      font-size: 3em;
      background-size: contain;
    }
  }


  :root {
    --hue: 223;
    --bg: hsl(var(--hue),10%,90%);
    --fg: hsl(var(--hue),10%,10%);
  }
  .loader {
    color: var(--fg);
    height: 100vh;
  display: flex;
  justify-content: center;
  }
  
  .pl {
    display: block;
    width: 3.25em;
    height: 3.25em;
  }
  .pl__ring, .pl__ball {
    animation: ring 2s ease-out infinite;
  }
  .pl__ball {
    animation-name: ball;
  }
  
 
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue),10%,10%);
      --fg: hsl(var(--hue),10%,90%);
    }
  }
  
 
  @keyframes ring {
    from {
      stroke-dasharray: 0 257 0 0 1 0 0 258;
    }
    25% {
      stroke-dasharray: 0 0 0 0 257 0 258 0;
    }
    50%, to {
      stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
  }
  @keyframes ball {
    from, 50% {
      animation-timing-function: ease-in;
      stroke-dashoffset: 1;
    }
    64% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -109;
    }
    78% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -145;
    }
    92% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -157;
    }
    57%, 71%, 85%, 99%, to {
      animation-timing-function: ease-out;
      stroke-dashoffset: -163;
    }
  }

  .studentlist{
    padding: 10px;
  }